<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sencrypt</name>
    <version>210</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>Sencrypt is a module that adds and manages SSL certificates from Letsencrypt or other Third-party providers to encrypt your domain's connections.</desc>
    <authorname>TGates</authorname>
    <authoremail>tgates@sentora.org</authoremail>
    <authorurl>sentora.org</authorurl>
    <updateurl>zppy-repo.mach-hosting.com/repo-dev</updateurl>
</module>