<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sencrypt</name>
    <version>200</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>Sencrypt is a SSL module to Add/Manage SSL certificates for Letsencrypt or Third-party SSL Request(s)/Setup for your domains.</desc>
    <authorname>Jettaman</authorname>
    <authoremail>anthony@sentora.org</authoremail>
    <authorurl>sentora.org</authorurl>
    <updateurl>repo.senotora.org</updateurl>
</module>