<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sencrypt</name>
    <version>001</version>
    <defaultcat>Domain Management</defaultcat>
    <desc>Add, remove or update Lets Encrypt FREE! SSL certificates for your domains and sub domains.</desc>
    <authorname>TGates</authorname>
    <authoremail>tgates@sentora.org</authoremail>
    <authorurl>http://www.sentora.org/</authorurl>
    <updateurl>http://zppy-repo.mach-hosting.com/testing/sencrypt.zpp</updateurl>
</module>